// -*- mode: groovy; -*-

process {
  executor = 'local'
  maxForks = 1
}

executor {
  name = 'local'
  queueSize = 1
}

params.refs_dir   = "$CHEETAH_REFS_DIR"

// TODO: IMPORTANT: This needs to be reconfigured for each server
params.reference   = "$CHEETAH_REFS_DIR/hg38_SARScoV2.fa"
params.markers_bed = "$baseDir/refs/markers.bed"
params.marker_ref  = "$baseDir/refs/markers.csv"
params.strain_ref  = "$baseDir/refs/strains.txt"

// params.reference   = "/home/xzhu/refs/hg38_SARScoV2.fa"
// params.markers_bed = "/home/xzhu/Documents/stjude-covid19-study/workflow/refs/markers.bed"
// params.marker_ref  = "/home/xzhu/Documents/stjude-covid19-study/workflow/refs/markers.csv"
// params.strain_ref  = "/home/xzhu/Documents/stjude-covid19-study/workflow/refs/strains.txt"

params.result_folder  = "output_files"

conda.cacheDir = "$CHEETAH_CACHE_DIR/conda/"
// conda.cacheDir = "/var/idcov/conda/"

// params.path_to_fastq_gzipped = "/rgs01/project_space/cab/automapper/common/yhui/Xun/shared/idcov_nextflow/test-fastq/*_R{1,2}.fastq.gz"
// params.path_to_fastq_gzipped = "/rgs01/project_space/cab/automapper/common/yhui/Ti-Cheng/LAB/Webby/StrainTyping/19*/*_R{1,2}.fastq.gz"
// params.blacklist = [
//   "4-2-2020_Random_SNAP_S2",
//   "4-2-2020_GeneSpecific_SNAP_S3"
// ]

// TODO: IMPORTANT: This needs to be more flexible
params.path_to_fastq_gzipped = "./input_files/*_R{1,2}.fastq.gz"

