.tool-tray {
    display: flex;
    margin: auto;
}

.tool-tray > * {
    margin: 4px;
}

.mdc-switch {
    margin: 12px;
}

.mdc-drawer-app-content {
    flex-shrink: 0;
    flex-grow: 1;
}

.mdc-top-app-bar {
    position: static;
}

.mdc-list-item__graphic {
    margin-right: 8px;
}
