{:legal-origins #{"product.domain" "localhost"}

 :db-location    "/data/1000/var/idcov/db"
 :file-base-path "/data/1000/var/idcov/files"
 :run-base-path  "/data/1000/var/idcov/runs"
 :log-path       "/data/1000/var/idcov/log"
 :refs-path      "/data/1000/var/idcov/refs"
 :cache-path     "/data/1000/var/idcov/cache"

 :js-main-url "/js/main/main.js"

 ;; :db-location    "/var/idcov/db"
 ;; :file-base-path "/var/idcov/files"
 ;; :run-base-path  "/var/idcov/runs"
 ;; :log-path       "/var/idcov/log"

 :org.httpkit.server/config {:port     3000
                             :max-body 2147483647}

 :taoensso.timbre/logging-config {:level        :info
                                  :ns-whitelist []
                                  ;; :ns-blacklist ["datomic.kv-cluster"
                                  ;;                "datomic.process-monitor"
                                  ;;                "datomic.reconnector2"
                                  ;;                "datomic.common"
                                  ;;                "datomic.peer"
                                  ;;                "datomic.log"
                                  ;;                "datomic.db"
                                  ;;                "datomic.slf4j"
                                  ;;                "org.projectodd.wunderboss.web.Web"
                                  ;;                "shadow.cljs.devtools.server.worker.impl"]
                                  }

 ;; The ssl-redirect defaulted to off, but for security should probably be on in production.
 :ring.middleware/defaults-config {:params    {:keywordize true
                                               :multipart  true
                                               :nested     true
                                               :urlencoded true}
                                   :cookies   true
                                   :responses {:absolute-redirects     true
                                               :content-types          true
                                               :default-charset        "utf-8"
                                               :not-modified-responses true}
                                   :static    {:resources "public"}
                                   :session   true
                                   :proxy     false ; should be true in production with SSL enabled
                                   :security  {:anti-forgery   true
                                               :hsts           true
                                               :ssl-redirect   false ; should be true in production with SSL enabled
                                               :frame-options  :sameorigin
                                               :xss-protection {:enable? true
                                                                :mode    :block}}}}
